body {
    background-color: black;
    display: flex;
    justify-content: center;
}

#container {
    width: 1000px;
    height: 955px;
    background-image: url(christmas_tree.jpg);
    background-size: cover;
    color: bisque;
    font-family: Georgia, serif;
    font-size: 42px;
}

#text {
    margin: 0;
    position: absolute;
    top: 32%;
    left: 51%;
    transform: translate(-50%, -50%);
}

#countdown {
    margin: 0;
    position: absolute;
    top: 39%;
    left: 51%;
    transform: translate(-50%, -50%);
}